<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <title>Look up a package</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container">
  <h1>Here are the Packages that correspond to your request: </h1>
  @using Parcels.Models

    <ul>
    @foreach(Parcel parcel in Model)
    {
      <li>Send To: @parcel.To <em>Address: </em> @parcel.Address</li>
      <li>Sent From: @parcel.From</li>
      <li>Items: @parcel.Content</li>
      <li>Weight: @parcel.Weight pounds</li>
      <li>Width: @parcel.Width cm</li>
      <li>Height: @parcel.Height cm</li>
      <li>Length: @parcel.Length cm</li>
      <li>Volume(in cm): @parcel.Volume()</li>
      <li>Cost To Ship: $@parcel.CostToShip()</li>
      <li>----------------------------</li>
    }
    </ul>
    <a href="/parcels/create">Mail off a package?</a>
  </div>
</body>
</html>